<div class="page-layout">
  <video autoplay muted loop class="background-video">
    <source src="/themes/custom/gallery/assets/videos/danza_web.mp4" type="video/mp4">
  </video>
  <main class="content">
    {{ page.header }}
    {{ page.content }}
  </main>

</div>

