<div class="page-layout">
  <div class="page-header">
    <video autoplay muted loop class="site-header-video">
      <source src="/themes/custom/gallery/assets/videos/danza_web.mp4" type="video/mp4">
    </video>
    <div id="page-title-wrapper">
      {{ page.header }}
    </div>
  </div>
  <main class="page-content">
    {{ page.breadcrumb }}
    {{ page.content }}
  </main>
</div>

