{{ attach_library('gallery/front-styling') }}

<div class="hero">
  <video autoplay muted loop class="hero-video">
    <source src="/themes/custom/gallery/assets/videos/danza_web.mp4" type="video/mp4">
  </video>
  <div class="resume">
    <h1>Revista variaciones</h1>
    <p>La revista “Variaciones” es una publicación académica seriada cuyo propósito consiste en la divulgación de las investigaciones y reflexiones realizadas en el campo de las artes y particularmente de la Danza.</p>
  </div>
</div>
{{page.content}}
