.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  z-index: 10;
  background-color: rgb(var(--main-bg-color));
}

.site-branding {
  --padding: 1rem;
  height: calc(var(--header-height) - var(--padding) * 2);
  margin: var(--padding) auto;
  grid-column: 1;
  max-width: 150px;
}

.site-branding img {
  height: 100%;
}

.site-content {
  min-height: 100vh;
  background-color: rgb(var(--main-bg-color));
  padding-top: var(--header-height);
}

.site-footer {
  font-size: max(12px, 0.6rem);
  z-index: 10;
  background-color: rgb(23, 23, 23);
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: auto;
}

.social-footer > a {
  margin: 0 0.5rem;
}

.social-footer > a > svg {
  width: 1.2rem;
  height: 1.2rem;
}

.footer-division-line {
  width: 0.2rem;
  margin: 0 0.5rem;
  height: 100px;
  background-color: rgb(var(--main-text-color));
}

.menu-toggle {
  position: fixed;
  z-index: 10;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
  right: 2rem;
}

.menu-toggle > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.menu-toggle.close {
  z-index: 25;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: rgb(var(--branding-main-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu-container.active {
  opacity: 1;
  visibility: visible;
}

.menu-site-branding {
  position: fixed;
  top: 0;
}

.page-content {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
}

.page-header {
  position: relative;
  height: 50vh;
}

.site-header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-title {
  position: absolute;
  padding: 1rem;
  left: 0;
  bottom: 0;
  background-color: rgba(var(--main-bg-color), 0.5);
  z-index: 1;
}

.standard-view-block { 
  margin-top: 2rem;
}

.view-content {
  width: 100vh;
}

.content-list {
  margin-top: 1rem;
}

.content-list > li {
  display: block;
  padding: 0.5rem;
}

.content-list > li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.content-list > li > svg {
  margin-right: 0.5rem;
}

.content-image {
  padding: 1rem;
}

.content-image > img {
  width: 100%;
  height: auto;
}
